.editSave {
    margin-right: 2px;
    font-size: 11px;
}

.editCancel {
    font-size: 11px;
}

.inputWidth {
    width: 400px;
}

.marginBottom {
    margin-bottom: 13px;
}

.inputHeader {
    margin-bottom: 5px;
}