nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f0f0f0;
  width: 100%;
  box-shadow: 30px 0 10px #888888;
  height: 60px;
}

.menu-items{
  display: flex;
  justify-content: flex-end;
}
