/* -----------------------------
PAGE LAYOUT
---------------------------------*/
.landing {
  padding: 80px 0;
}

.title{
  padding: 80px 0;
}

@media screen and (max-width: 380px){
  .landing{
    padding: 30px 0;
  }

  .title{
    padding: 40px 0 70px 0;
  }
}

/* -----------------------------
FORM
---------------------------------*/
.form{
  max-width: 600px;
  min-width: 500px;
}

.form-input{
  padding-bottom: 50px;
}

/* -----------------------------
BUTTONS
---------------------------------*/

.btn-landing{
  width: 150px;
  margin-bottom: 20px;
  box-shadow: 5px 10px 10px #888888;
}

.btn-landing:hover {
  box-shadow: 5px 10px 10px #202020;
  border: none;
}
