.landing {
    padding: 100px 0;
}

.title{
    padding: 50px 0;
}

.title h1{
    font-size: 50px;
}

span{
    padding: 0 5px;
}

.red{
    color: #f78888;
}

.yellow{
    color: #f3d250;
}

.light-blue{
    color: #90ccf4;
}

.dark-blue{
    color: #5da2d5;
}

.button-landing{

}
