.editSave {
    margin-right: 2px;
    font-size: 11px;
}

.editCancel {
    font-size: 11px;
}

.textInput {
    width: 400px
}

.dateInput {
    width: 400px;
    margin-bottom: 13px;
}

.currencyInput {
    width: 400px;
    margin-bottom: 13px;
}

.inputHeader {
    margin-bottom: 5px;
}